
$main-font: "Open Sans", sans-serif;
$main-color:#555;
$accent-color: #4D8C6C;
$hover-color: #2A4C3B;
$font-size: 15px;

//slider
$accent: #3c125e;
$slide_width: 500px;
$slide_height: 300px;
$nav_distance: calc(50% - 250px - 0.5em);





