@import "partials/params";
@import "partials/mixins";
@import "modules/header";
@import "modules/icon";
@import "modules/left-menu";
@import "modules/menu-btn";


body {
    background-color:#ddd;
    font-family: $main-font;
    color: $main-color;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.wrap-site {
    background-color:#F8F9FB;
    max-width: 1480px;
    min-width: 320px;
    margin: 20px auto;
    padding-top: 60px;
    @include box-shadow(0, 2px, 5px, #555);
}

a {
    color: $main-color;
    text-decoration: none;
    outline: 0;
    &:active,
    &:focus,
    &:hover {
        color: $main-color;
        text-decoration: none;
        outline: 0;
    }
}
.line {
    width:95%;
    background-color: #ddd;
    height:1px;
    margin:auto;
}
.main-title {
    font-size:$font-size * 2;
    letter-spacing: 3px;
    margin: 0;
    padding: 10px 20px;
}
.main-img {
    height: 410px;
    width: 100%;
    background: url(img/222.jpg) no-repeat scroll center center;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    @include box-shadow(0, 2px, 5px, #555);
}
#owl-demo .item {
    margin: 3px;
}
#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;
    @include box-shadow(0, 2px, 5px, #555);
}
.section-title {
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: $font-size * 1.3;
}
.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}
.picter-section,
.bio-section,
.history-section,
.routes-section,
.contacts-section {
    padding: 50px 0;
}

.nature-desc {
    padding: 10px 0 0;
}






