@import "partials/params";
@import "partials/mixins";
@import "modules/header";
@import "modules/icon";
@import "modules/left-menu";
@import "modules/menu-btn";


body {
    background-color:#ddd;
    font-family: $main-font;
    color: $main-color;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.wrap-site {
    background-color:#F8F9FB;
    max-width: 1480px;
    min-width: 320px;
    margin: 20px auto;
    padding-top: 60px;
    @include box-shadow(0, 2px, 5px, #555);
}

a {
    color: $main-color;
    text-decoration: none;
    outline: 0;
    &:active,
    &:focus,
    &:hover {
        color: $main-color;
        text-decoration: none;
        outline: 0;
    }
}
.line {
    width:95%;
    background-color: #ddd;
    height:1px;
    margin:auto;
}
.main-title {
    font-size:$font-size * 2;
    letter-spacing: 3px;
    margin: 0;
    padding: 10px 20px;
}
.main-img {
    background: url(../../public/img/222.jpg) no-repeat scroll center;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    //-webkit-background-size: cover;
    //background-size: cover;
    //@include box-shadow(0, 2px, 5px, #555);
}






