@import "partials/params";
@import "partials/mixins";
@import "modules/header";
@import "modules/icon";
@import "modules/left-menu";
@import "modules/menu-btn";


body {
    background-color:#ddd;
    font-family: $main-font;
    color: $main-color;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.wrap-site {
    background-color:#F8F9FB;
    max-width: 1480px;
    min-width: 320px;
    margin: 20px auto;
    padding-top: 60px;
    @include box-shadow(0, 2px, 5px, #555);
}

a {
    color: $main-color;
    text-decoration: none;
    outline: 0;
    &:active,
    &:focus,
    &:hover {
        color: $main-color;
        text-decoration: none;
        outline: 0;
    }
}





